@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');

:root {
    --background: #feffff;
    --light-color: #feffff;
    --dark-color: #343341;
    --read: rgb(240, 255, 240);
    --unread: #fcd9d3;
    --dark-filter: invert(19%) sepia(16%) saturate(559%) hue-rotate(205deg) brightness(99%) contrast(96%);
    --accent-color: #f34c2f;
    --accent-filter: filter: invert(100%) sepia(1%) saturate(6905%) hue-rotate(114deg) brightness(99%) contrast(108%);
    --main-font: 'Corben', serif;
    --inset-border: inset 0 0 0 0.3em var(--accent-color);
    --transition-speed: 0.5s;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: var(--main-font);
}

.container {
    height: 100vh;
    display: grid;
    grid-template: minmax(100px, 15%) 1fr minmax(60px, 5%) / 1fr;
    /* flex-direction: column; */
    justify-content: space-between;
}

.header, .footer {
    justify-self: center;
    align-self: center;
}

.header h1 {
    color: var(--dark-color);
    margin: 0;
    font-size: 1.8em;
}

.header h1 img {
    width: 20%;
}

img {
    vertical-align: middle;
}

#new-book-btn {
    box-sizing: border-box;
    font-family: var(--main-font);
    color: var(--dark-color);
    background-color: var(--background);
    border: 2px solid var(--accent-color);
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 0.5em;
}

#new-book-btn img {
    padding: 4px;
}
#new-book-btn:hover {
    cursor: pointer;
    box-shadow: var(--inset-border);
    transition: var(--transition-speed);
}

#bookDialog {
    padding: 1em;
    border-radius: 1em;
    transition: 1s;
}

#bookDialog form h2 {
    text-align: center;
}

.form-rows {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: repeat(4, 40px);
    row-gap: 1em;
    justify-items: left;
    margin-bottom: 80px;
}

.book-status {
    display: grid;
    grid-template-columns: 20px auto;
    grid-template-rows: repeat(3, auto);
    margin-bottom: 0.8em;
    column-gap: 12px;
}

.form-rows label {
    font-size: 1.2em;
    padding-right: 10px;
}

#bookDialog form p {
    font-size: 1.2em;
    margin: 0;
}

.form-rows input {
    margin: 0;
    padding: 0 0 0 0.5em;
    font-family: var(--main-font);
    font-size: 1.1em;
    border-width: 0.1em;
    border-radius: 0.5em;
}

input:invalid {
    border: 0.1em solid var(--accent-color);
}

input:valid {
    border: 0.1em solid var(--dark-color);
}

#book-title,
#book-author {
    width: 300px;
}

#book-pages {
    width: 100px;
}

#book-read {
    align-self: left;
}

#status-read,
#status-in-progress,
#status-unread {
    justify-self: right;
    /* margin-right: 12px; */
}

.center {
    margin: auto;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

form button {
    width: 30%;
    border: 0.1em solid var(--dark-color);
    font-family: var(--main-font);
    background: var(--background);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin: 0 1em 1em 0;
}

form button:hover {
    /* background-color: var(--accent-color); */
    /* color: var(--background); */
    box-shadow: var(--inset-border);
    transition: var(--transition-speed);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.database {
    /* border: 0.1em solid var(--dark-color);
    border-radius: 0.5em; */
    margin: 2em 10%;
    /* padding: 1em; */
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 2fr 1fr 1fr 25px 25px;
    column-gap: 24px;
}

.book-row {
    /* padding: 0 1em; */
    margin: 0;
    display: grid;
    height: 2em;
    grid-column: 1 / 7;
    grid-template-columns: 2fr 2fr 1fr 1fr 25px 25px;
    column-gap: 24px;
}

.col-title {
    font-weight: bold;
}

.book-icon {
    align-self: center;
}

.book-icon:hover {
    cursor:pointer;
    filter:var(--accent-filter);
}
.book-read {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 0 1em; */
    width: 100%;
    border-radius: 0.5em;
}

.book-pages {
    align-self: center;
}

.status-read {
    background-color: var(--read);
}

.status-unread {
    background-color: var(--unread);
}